
body {
  background: rgb(29, 33, 43);
}

* a {
  margin: auto 0.7%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */

* ::-webkit-scrollbar {
  /* width */
  width: 4px;
  height: 1px;
}

* ::-webkit-scrollbar-track {
  /* Track */
  box-shadow: inset 0 0 17px #36363d;
  border-radius: 8px;
}

* ::-webkit-scrollbar-thumb {
  /* Handle */
  background: #36363d;
  border-radius: 10px;
}

* ::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: #36363d; /* #1b1b1f; */
}

* ::-webkit-scrollbar-track-piece {
  /* not handle on */
  background: rgb(30, 20, 36);
}

input {
  color-scheme: dark;
}

@keyframes rotation {
  0%{
     transform: rotate(0deg);
    }
 100%{
     transform: rotate(360deg);
    }
 }